.DrinkResult {
margin-top: 50px;

	&-link {
text-decoration: none;
}
	}

.DrinkResult-render {
margin: 20px;
box-shadow: 2px 2px 2px 2px #EAF0CE;
}

.DrinkResult-render-h1 {
	color: #ffed00;
	text-shadow: 2px 2px 2px #D39F5F;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	max-width: 300px;
}

.DrinkResult-render-img {
	width:300px;
	height:300px;
	margin: 10px;
	box-shadow: 2px 2px 2px #82b74b;

	&:hover {
		padding: 1.5px;
	}
}
