.Nav {
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #EAF0CE;
	&-link {
		padding: 10px;
		font-size: 22px;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		font-family: "Verdana", serif;

		color:  #ffed00;

		&:hover{
			text-decoration: underline;
		}
		&.is-active{
			text-decoration: underline;
		}
	}
}
