// CSS Reset
@import "~reset-css/reset.css";

// Box sizing
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-image: url("./assets/images/cocktail-594173_1280.jpg");
	background-size: cover;
	background-color: #82b74b;
}
